<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--Importo para manejar la tabla de datos, es un elemento de polymer-->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <!--Parte del html que vamos a utilizar*/-->
    <div class="container">
        <div class="row">
            <h1 class="col-lg-12">Gestor clientes</h1>
            <button class="btn btn-success" type="button" name="button" on-click="obtenerClientes">Cargar Clientes</button>
        </div>
        <table class="table table-striped">
          <tbody>
            <!--usamos un modulo de polymer para hacer la tabla-->
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <!--Llamo a cada elmento de clientes-->
                <td>[[item.CustomerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.CompanyName]]</td>
              </tr>
            </template>
          </tbody>
        </table>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    /*El nombre de la clase es el nombre de la app sin el "-" y en camel case*/
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            //Le indicamos que la vamos a modificar utilizando un manejador
            notify: true
          }
        };
      }
      //va a cargar clientes con valores
      obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open('GET', 'https://services.odata.org/V4/Northwind/Northwind.svc/Customers/', false);
        //Yo acepto que me envies JSON
        request.setRequestHeader('Accept', 'application/json');
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        console.table(this.clientes);
      }
      anadirCliente(){
        var request = new XMLHttpRequest();
        request.open('POST', 'https://services.odata.org/V4/Northwind/Northwind.svc/Customers/', false);
        request.setRequestHeader('Accept', 'application/json');
        //Yo te envio JSON
        request.setRequestHeader('Content-type', 'application/json');
        request.send();
        var nuevoCliente = {"CustomerID": "123456", "ContactName": "Pepe", "CompanyName": "Pepes Fintech"};
        var body=JSON.stringify(nuevoCliente);
        request.send(body);
        //this.respuesta = request.responseText;
        console.log(request.responseText);
      }
    }
    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
