<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <!--Parte del html que vamos a utilizar*/-->
    <div class="container">
        <div class="row">
            <img src="https://image.flaticon.com/icons/svg/874/874914.svg" alt="">
        </div>
        <div class="row">
            <!--llamo al método que cree-->
            <button class="btn btn-success" type="button" name="button" on-click="incrementar">Cargar datos</button>
            <!--Tiene como texto de fondo prop3 y mete el valor como input en prop1-->
            <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
            <!--al ir escribiendo arriba me modifica el de abajo-->
            <input type="text" name="" value="[[prop1]]">
        </div>
        <div class="row">
            <table class="table-striped col-lg-12 col-xs-12">
                <thead>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </thead>
                <tbody>
                    <tr>
                        <td>[[prop2]]</td>
                        <td>Elena</td>
                        <td>Nito</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Leandro</td>
                        <td>Gao</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    /*El nombre de la clase es el nombre de la app sin el "-" y en camel case*/
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            //solo defino de que itpo es, sin valor
            type: String
          },
          prop2: {
            type: Number,
            value: 999
          }, 
          prop3: {
              type:String, 
              value: 'Indique su usuario'
          }
        };
      }
      incrementar(){
          this.prop2 = this.prop2 + 1;
          console.log(this.prop1);
          console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
